* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn {
  background-color: #30b868;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 12px;
}
header {
  padding-top: 16px;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0px auto;
  padding-left: 120px;
  padding-right: 120px;
}
nav .menu {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 32px;
}
nav li {
  font-weight: 500px;
  font-size: 16px;
}
