* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn {
  background-color: #30b868;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 12px;
  cursor: pointer;
}
.btn:hover {
  background-color: #219150;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
header {
  padding-top: 16px;
  padding-bottom: 16px;
}
/* .header-container {
  max-width: 1200px;
  padding: 0 20px;
} */
/* nav */
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0px auto;
  padding-left: 120px;
  padding-right: 120px;
}
nav .menu {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 32px;
}
nav li {
  font-weight: 500px;
  font-size: 16px;
}
/* banner */
#banner,
#notes {
  padding-top: 16px;
}
.banner-container {
  border: 1px solid purple;
  background: url(./assets/hero-bg.png), rgba(0, 25, 49, 0.8);
  background-repeat: no-repeat;
  /* border: 15px solid blue; */
  width: 1517px;
  height: 670px;
  margin: 0 auto;
  text-align: center;
}
/* .early-access {
  background-color: white;
  color: #30b868;
  width: 229px;
  height: 36px;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500px;
} */

.banner-start-2 {
  border: 1px solid black;
}

.btn-new {
  background-color: white;
  color: #30b868;
  border: none;
  border-radius: 1000px;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 16px;
  font-weight: 600;
  margin-top: 162px;
  max-width: 3555px;
  max-height: 36px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 5px;
  gap: 5px;
  cursor: pointer;
}
.btn-new:hover {
  background-color: rgb(235, 228, 228);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.banner-container h1 {
  color: white;
  font-size: 72px;
  font-weight: 700px;
  line-height: 84px;
  font-style: bold;
}
.color-green {
  color: #30b868;
}
.banner-container h1 span {
  padding-bottom: 16px;
}
.banner-text-1,
.banner-text-2 {
  padding: 0 auto;
  color: white;
  font-size: 18px;
}
.banner-text-1 {
  margin-bottom: 10px;
}
.banner-text-2 {
  margin-bottom: 25px;
}
.btn-2 {
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 12px;
  margin-left: 16px;
  background-color: transparent;
  cursor: pointer;
}
.btn-2:hover {
  /* background-color: #219150; */
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
body {
  max-width: 1517px;
}

/* notes */
.notes-container {
  max-width: 1517px;
  margin: 0 auto;

  text-align: center;
  margin-top: 40px;
}
.section-heading h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 58px;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.section-heading h2 :last-child {
  margin-bottom: 16px;
}
.section-heading p {
  font-size: 16px;
  font-weight: 400px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 24px;
}
.note-box {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.note-card {
  margin-top: 20px;
  padding: 30px;
  max-width: 322px;
  box-shadow: 0 6px 50px #00000037;
}
.note-card img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-bottom: 16px;
  padding: 15px;
  background: rgba(249, 85, 85, 1);
  box-sizing: content-box;
}

.note-card h3 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}
.note-card p {
  font-size: 16px;
  color: #627382;
}

.note-card .icon-box {
  width: 60px;
  height: 60px;
  background: rgba(249, 85, 85, 1);
  border-radius: 50%;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* solution */
#solution {
  margin-top: 50px;
  padding: 120px 120px;
}

.solution-container {
  /* border: 5px solid blue; */
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 60px;
}
.solution-text {
  margin-top: 102px;
  margin-bottom: 102px;
}
.solution-para {
  color: #30b868;
  margin-bottom: 16px;
  font-size: 16px;
}
.solution-bottom-text {
  display: flex;
  margin-bottom: 16px;
  gap: 6px;
}
.early-access-container {
  margin: 0 120px;
  /* border: 5px solid black; */
  text-align: center;
  padding: 80px 40px;
  background-color: rgba(247, 246, 242, 1);
}
.early-access-para {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}
.early-access-container .btn {
  margin-bottom: 20px;
  cursor: pointer;
}
.early-access-container .btn:hover {
  background-color: #219150;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.early-access-para-2 {
  font-size: 16px;
  font-weight: 400px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 24px;
}
/* footer */
#footer {
  margin-top: 120px;
}
.footer-container {
  background-color: #0b1d35;
  color: white;
  width: 1517px;
  height: 360px;
}
.footer-upper {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 90px;
  padding-left: 120px;
  padding-right: 120px;
}
.footer-links h6 {
  padding-bottom: 7px;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.footer-links-image {
  display: flex;
  gap: 16px;
}
.footer-hr {
  color: #2b3b4e;
  width: 80%;
  margin: 0 auto;
}
.footer-bottom p {
  /* border: 5px solid red; */
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}
body,
html {
  overflow-x: hidden;
  width: 100%;
}
